.App {
  width: 1920px;
  height: max-content;
  background: #eaebed;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  margin: 0px;
}
.SideBar {
  background-color: #f2ebf9;
  width: 280px;
  height: 2644px;
  position: fixed;
  top: 40px;
  padding: 24px;
  gap: 80px;
  opacity: 1;
}
.MainSection {
  position: absolute;
  background-color: #eaebed;
  width: 980px;
  height: 2660px;
  top: 40px;
  left: 370px;
  gap: 40px;
  opacity: 1;
}
.Header {
  width: 980px;
  height: 48px;
  font-weight: bold;
  font-size: 32px;
  gap: 40px;
  justify-content: space-between;
  opacity: 1;
}
button.Button {
  font-size: 22px;
  font: Inter;
  width: 232px;
  height: 42px px;
  text-align: start;
  background-color: #f2ebf9;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  border-style: none;
}
button.Button:hover {
  background-color: #bd93f7;
}
button.Button.active {
  background-color: #e5d5fa;
  color: #9854f6;
  width: 232 px;
  height: 42px px;
}

.DropdownMenu {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  width: 980px;
  height: 72px;
  gap: 8px;
}
.CardSection {
  background: #eaebed;
  display: grid;
  grid-template-columns: 482px 482px;
  width: 980px;
  height: 2660px;
  gap: 8px;
}
.MovieCard {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  gap: 16px;
  height: 198px;
  padding: 24px;
  margin: 0px;
  gap: 8px;
  border-radius: 12px;
  opacity: 1;
}
.MovieCard img {
  width: 119px;
  height: 170px;
}
.MovieCard button {
  width: 28px;
  height: 28px;
}
.CardRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 263px;
  height: 170px;
}
.CardRow p {
  font-size: 16px;
}
.TitleName {
  font-size: 20px;
  color: #9854f6;
}
.Grey16 {
  font-size: 16px;
  color: #7b7c88;
}
